#include <windows.h>

#define VER_VERSION 2,0,1,0
#define VER_VERSION_STR "2.0.1.0\0"
#define VER_COMPANYNAME_STR "Cateia Games"
#define VER_FILEDESCRIPTION_STR "Kresimir Spes Audio Library"
#define VER_LEGALCOPYRIGHT_STR "© K.I.D. d.o.o. Rijeka, Croatia"
#define VER_PRODUCTNAME_STR "Kresimir Spes Audio Library"

1 VERSIONINFO
FILEVERSION    	VER_VERSION
PRODUCTVERSION 	VER_VERSION
FILEFLAGSMASK  	0
FILEFLAGS      	0
FILEOS         	VOS_NT_WINDOWS32
FILETYPE       	VFT_UNKNOWN
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_VERSION_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_VERSION_STR
        END
    END
END