<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.xal.demoSimple"
		android:versionCode="3000"
		android:versionName="3.0.0">
		
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25"/>
	<uses-feature android:glEsVersion="0x00020000"/>
	<uses-feature android:name="android.hardware.screen.sensorLandscape"/>
	
	<application android:label="Demo Simple"
			android:icon="@drawable/icon">
		<activity android:name=".DemoSimple"
				android:label="Demo Simple"
				android:screenOrientation="sensorLandscape"
				android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
	
</manifest> 
